<!DOCTYPE html>
<html layout:decorate="~{admin/common}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/item_form.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="admin-item">
			<h2>상품 정보</h2>
			<table>
				<tr class="form-group">
					<td><label for="name">상품명</label></td>
					<td><input type="text" id="name" value="KIA 타이거즈 레플리카 홈 유니폼"></td>
				</tr>
				
				<tr class="form-group img">
					<td><label for="image">상품이미지</label></td>
					<td colspan="2">
						<img class="image-upload-box" src="/images/uniform.jpg" alt="" />
					    <p style="font-size: 12px; color: #888;">KIA 타이거즈 레플리카 홈 유니폼.jpg</p>
					    <button type="submit">파일취소</button>
					</td>
				</tr>
				
				<tr class="form-group">
					<td><label for="price">상품가격</label></td>
					<td><input type="text" id="price-input" value="69,000"> 원<td>
				</tr>
				
				<tr class="form-group">
					<td><label>지역</label></td>
					<td>
						<div class="region-select">
							<select>
								<option>시</option>
							</select>
							<select>
								<option>구</option>
							</select>
							<select>
								<option>동</option>
							</select>
						</div>
					</td>
				</tr>
				
				<tr class="form-group">
					<td><label>카테고리</label></td>
					<td>
						<div class="category-select">
							<select>
								<option>선택</option>
								<option>유니폼</option>
								<option>모자</option>
								<option>의류</option>
								<option>잡화</option>
								<option>응원용품 (응원 배트, 머리띠, 슬로건, 짝짝이)</option>
								<option>야구용품 (야구공, 글러브)</option>
							</select>
						</div>
					</td>
				</tr>
			</table>
			<div class="submit-btn">
				<button type="submit">수정하기</button>
				<button>삭제하기</button>
			</div>
		</div>
	</div>
</body>
</html>