<th:block th:fragment="headerFragment">
	<nav>
		<div class="content">
			<div class="navbar-1">
				<a href="/join">회원가입</a>
				<a href="/login">로그인</a>
				<a href="/user">마이 페이지</a>
			</div>
			<div class="navbar-2">
				<a class="navbar-brand" th:href="@{/}">tradeZone</a>
				<form class="search-box" action="" method="get">
					<input class="search-txt" type="text" placeholder="원하시는 상품명을 입력하세요">
					<button class="search-btn" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
				<div class="sub-bar">
					<a href="/register">판매하기</a>
					<a href="/chat">채팅하기</a>
					<a href="/notice">공지사항</a>
				</div>
			</div>
			<div class="navbar-3">
				<ul>
					<li>
						<img src="/images/menu1.png" alt="한화 이글스">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu2.png" alt="LG 트윈스">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu3.png" alt="롯데 자이언츠">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu4.png" alt="KIA 타이거즈">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu5.png" alt="KT 위즈">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu6.png" alt="SSG 랜더스">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu7.png" alt="NC 다이노스">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu8.png" alt="삼성 라이온즈">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
					<li>
						<img src="/images/menu9.png" alt="두산 베어스">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
						<li><img src="/images/menu10.png" alt="키움 히어로즈">
						<ul>
							<li><a href="">유니폼</a></li>
							<li><a href="">모자</a></li>
							<li><a href="">의류</a></li>
							<li><a href="">잡화</a></li>
							<li><a href="">응원용품</a></li>
							<li><a href="">야구용품</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</th:block>