<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/page/notice_form.css}">
</head>
<body>
	<div class="content">
		<div class="wrapper">
			<div layout:fragment="content">
				<form class="form">
					<input class="title" type="text" placeholder="제목" required/>
					<hr>
					<textarea class="content-area"></textarea>
					<div class="btns">
						<button type="submit">저장하기</button>
						<button>취소하기</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>